.text-area {
    -fx-text-fill: #eeeeee;  
}

.text-area .content {
    -fx-background-color: #40444b;
}

.text-area:focused {
    -fx-focus-color: #eeeeee;
    -fx-faint-focus-color: #eeeeee00;
}

.button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: #eeeeee;
}

.button:hover {
    -fx-background-color: #eeeeee;
    -fx-cursor: hand;
}

.button:pressed {
    -fx-background-color: #dddddd;
}

#btnSend {
    -fx-background-color: transparent;
    -fx-border-color: #eeeeee;
    -fx-text-fill: #eeeeee;
}

#btnSend:hover {
    -fx-background-color: #eeeeee;
    -fx-border-color: #36393f;
    -fx-text-fill: #36393f;
    
    -fx-cursor: hand;
}

#btnSend:pressed {
    -fx-background-color: #dddddd;
    -fx-border-color: #36393f;
    -fx-text-fill: #36393f;
}

#btnLogout {
    -fx-background-color: transparent;
    -fx-border-color: #eeeeee;
    -fx-text-fill: #eeeeee;
}

#btnLogout:hover {
    -fx-background-color: #eeeeee;
    -fx-border-color: #36393f;
    -fx-text-fill: #36393f;
    
    -fx-cursor: hand;
}

#btnLogout:pressed {
    -fx-background-color: #dddddd;
    -fx-border-color: #36393f;
    -fx-text-fill: #36393f;
}